# Root Environment Example
APP_ENV=development
MOCK_SENSORS=true
NEXT_PUBLIC_API_URL=http://localhost:5000

# MySQL Configuration
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=baiscan_db
MYSQL_USER=baiscan_user
MYSQL_PASSWORD=baiscan_password

# Database Connection
DB_HOST=db
DB_PORT=3306
DB_USER=baiscan_user
DB_PASSWORD=baiscan_password
DB_NAME=baiscan_db
